<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>The Joel Hilton Film Collection</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <!-- OLD UGLY HEADER
        <div class="headerbar">
        <a class="headerlink" asp-controller="Home" asp-action="Index">Home</a>
        <a class="headerlink" asp-controller="Home" asp-action="Podcast">My Podcasts</a>
        <a class="headerlink" asp-controller="Home" asp-action="MovieSubmission">Submit a Movie</a>
        <a class="headerlink" asp-controller="Home" asp-action="MoviesList">View Movies</a>
    </div>
        -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item text-white">
                <a class="navbar-brand" asp-action="Index">Home</a>
            </li>
            <li class="nav-item text-white">
                <a class="nav-link" asp-action="Podcast">My Podcasts</a>
            </li>
            <li class="nav-item text-white">
                <a class="nav-link" asp-action="MovieSubmission">Submit a Movie</a>
            </li>
            <li class="nav-item text-white">
                <a class="nav-link" asp-action="MoviesList">View Movies</a>
            </li>
        </ul>
    </nav>
    <div class="content-holder">
        <div class="content-div">
            @RenderBody()
        </div>
    </div>
</body>
</html>