<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>The Joel Hilton Film Collection</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="headerbar">
        <a class="headerlink" asp-controller="Home" asp-action="Index">Home</a>
        <a class="headerlink" asp-controller="Home" asp-action="Podcast">My Podcasts</a>
        <a class="headerlink" asp-controller="Home" asp-action="MovieSubmission">Submit a Movie</a>
        <a class="headerlink" asp-controller="Home" asp-action="MoviesList">View Movies</a>
    </div>
    <div class="content-holder">
        <div class="content-div">
            @RenderBody()
        </div>
    </div>
</body>
</html>