@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div>
    <p>Welcome to the Joel Hilton Film Collection!</p>
    <br />
    <img src="~/img/JoelHilton.jpg" />
    <br />
    <a asp-action="MovieSubmission">Click here to submit a movie you've watched.</a>
</div>