@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1>Welcome to the Joel Hilton Film Collection!</h1>
    <br />
    <img src="~/img/JoelHilton.jpg" />
    <br />
    <br />
    <a class="btn btn-dark" asp-action="MovieSubmission">Click here to submit a movie you've watched.</a>
</div>