@{
    ViewBag.Title = "Joel Hilton Movie Submission Form";
}
@model joel_hilton_film_collection.Models.MovieSubmissionResponse

<div class="text-center">
    <h3>Submit a Movie</h3>
</div>

<form asp-action="MovieSubmission" method="post">
    <div>
        <label asp-for="Category">Category:</label>
        <input asp-for="Category" />
    </div>
    <div>
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" />
    </div>
    <div>
        <label asp-for="Year">Year:</label>
        <input asp-for="Year" />
    </div>
    <div>
        <label asp-for="Director">Director:</label>
        <input asp-for="Director" />
    </div>
    <div>
        <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating">
            <option value="">Select a rating</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
            <option value="UR">Unrated</option>
            <option value="NR">Not Rated</option>
            <option value="TV-Y7">TV-Y7</option>
            <option value="TV-PG">TV-PG</option>
            <option value="TV-14">TV-14</option>
        </select>
    </div>
    <div>
        <label asp-for="Edited">Edited:</label>
        <select asp-for="Edited">
            <option value="false">Select an option</option>
            <option value="false">No</option>
            <option value="true">Yes</option>
        </select>

    </div>
    <div>
        <label asp-for="LentTo">Lent To:</label>
        <input asp-for="LentTo" />
    </div>
    <div>
        <label asp-for="Notes">Notes:</label>
        <input asp-for="Notes" />
    </div>

    <button type="submit" id="submitButton" class="btn-success">Submit Your Movie</button>
    <div asp-validation-summary="All"></div>
</form>